[Desktop Entry]
Type=Application
Name=sudoku-solver
Comment=Solver sudoku puzzles
Comment[ru]=Решатель судоку пазлов
Comment[pt_BR]=Resolve quebra-cabeças de sudoku
GenericName=Sudoku solver
GenericName[ru]=Решатель судоку
GenericName[pt_BR]=Solucionador de Sudoku
Icon=sudoku-solver
Exec=sudoku-solver
Terminal=false
Categories=Qt;Game;LogicGame;
Keywords=games;puzzle;sudoku;
Keywords[pt_BR]=jogos;quebra-cabeça;sudoku;
